/* Set the size of the div element that contains the map */
#map {
  height: 300px;  /* The height is 600 pixels */
  width: 60%;  /* The width is the width of the web page */
  background-color: blue;
  position: sticky;
  margin: auto;
  border: 3px solid black;
  transition: 2s all ease-out;
 }
 #map:hover{

 }
 h1{
   font-size: 40px;
   text-align: left;
   font-family: sans-serif;
   padding-top: 5%;
   border-bottom: 3px solid black;
   border-bottom-style:outset;
   text-shadow: -4px 0px #33cccc;
 }

 h2{
   font-size: 20px:
   text-align: left;
   font-family:sans-serif;
   padding-top: 5%;
 }

 form{
   font-size: 26px;
   text-align: left;
   font-family: sans-serif;
   padding-bottom: 5px;

 }

 input{
   width: 60%;
   height: 34px;
   font-family: sans-serif;
   font-size: 24px;
   border: 2px solid black;
   border-radius: 4px;
   border-style: ridge;
   box-shadow: inset;
   margin-top: 5px;
 }

 #main-container{
   width: 100%;
   height: 150px;
   background-image: url('images/road.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
 }

 .button1 {
   height: 15%;
   width: 20%;
  background-color: #33cccc;
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  text-align: center;
  padding: 15px 10px;
  display: inline-block;
  font-size: 28px;
  margin: auto;
  cursor: pointer;
}
