

 }
 h1{
   font-size: 40px;
   text-align: left;
   font-family: sans-serif;
   padding-top: 5%;
   border-bottom: 3px solid black;
   border-bottom-style:outset;
   text-shadow: -4px 0px #33cccc;
 }

 h2{
   font-size: 20px:
   text-align: left;
   font-family:sans-serif;
   padding-top: 5%;
 }

 form{
   font-size: 26px;
   text-align: left;
   font-family: sans-serif;
   padding-bottom: 5px;

 }

 input{
   width: 60%;
   height: 34px;
   font-family: sans-serif;
   font-size: 24px;
   border: 2px solid black;
   border-radius: 4px;
   border-style: ridge;
   box-shadow: inset;
   margin-top: 5px;
 }

 

 .button1 {
   height: 15%;
   width: 20%;
  background-color: #33cccc;
  border: 3px solid black;
  border-radius: 8px;
  color: black;
  text-align: center;
  padding: 15px 10px;
  display: inline-block;
  font-size: 28px;
  margin: auto;
  cursor: pointer;
}
