/* Set the size of the div element that contains the map */
#map {
  height: 600px;  /* The height is 600 pixels */
  width: 100%;  /* The width is the width of the web page */
  background-color: #002233;
  position: relative;
  transition: 2s all ease-out;
 }

#map:hover{

 }

html{
  scroll-behavior: smooth;
}

h1, p.welcome-p, #features-section, #team-section{
   text-align: center;
   font-family: sans-serif;
   color: white;
   padding-top: 20px;
 }

h1{
  font-size: 40px;
  padding-top: 5%;
}

p{ font-size: 20px; }

/*Create a div element that contains a background image*/
#main-container{
   width: 100%;
   height: 600px;
   bottom: -40px;
   background-image: url('images/roadtrip-banner.jpg');
   max-height: 600px;
   background-attachment: fixed;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-position-y: -150px;
 }

/*Stylize the Welcome Message along with an animation*/
#welcome-message{
  margin: 0 auto;
  width: 600px;
  height: 300px;
  background-color: hsla(200, 100%, 10%, 0.6);
  top: 80px;
  padding: 0px 25px 0px 25px;
  position: relative;
  border-radius: 10px;
  -webkit-animation: welcome 1s ease;
  animation: welcome 1s ease;
}

/*Animation code: Support for WebKit*/
@-webkit-keyframes welcome{
  from{
    top: 25px;
    opacity: 0;
  }
  to{
    top: 80px;
    opacity: 1;
  }
}
/*Animation code*/
@keyframes welcome{
  from{
    top: 25px;
    opacity: 0;
  }
  to{
    top: 80px;
    opacity: 1;
  }
}

/*Design for header*/
#header-tab{
  width: 100%;
  height: 75px;
  color: white;
  background-color: #1a1a1a;
  white-space: nowrap;
}

.logo{
  position: relative;
  left: 2%;
  display: inline-block;
  vertical-align: middle;
}

.button-tab{
  transition: 0.2s;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #1a1a1a;
  color: white;
  width: 120px;
  height: 75px;
  border: none;
  display: inline-block;
  margin-right: -4px;
  left: 30%;
  position: relative;
  cursor: pointer;
}

.start-button{
  transition: 0.1s;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  background-color: #00b300;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: -10px auto;
  cursor: pointer;
}

.start-button:hover{
  transform: scale(1.1);
  background-color: #00e600;
}

.home-tab:hover{
  color: #003300;
  background-color: #99ff99;
}

.about-tab:hover{
  color: #002933;
  background-color: #00ccff;
}

.faq-tab:hover{
  color: #66004d;
  background-color: #ff33cc;
}

/*Set size of horizontal line in the Welcome message*/
hr.welcome-hr{
  margin-top: -20px;
  margin-bottom: -20px;
  border-top: 2px solid white;
  border-radius: 2px;
}

.title-bar{
  width: 100%;
  height: 50px;
  background-color: #002233;
}

p.title-p{
  text-align: center;
  font-family: sans-serif;
  padding-top: 20px;
}

/*Design for Features section*/
#features-section{
  font-size: 40px;
  color: #99ff99;
  width: 100%;
  height: 600px;
  padding-top: 0px;
  background-color: white;
}

/*Design for footer*/
#footer{
  width: 100%;
  height: 150px;
  bottom: 0px;
  background-color: #004d4d;
}

#top-pin{
  transition: 0.5s;
  width: 105px;
  height: 216px;
  bottom: -220px;
  right: 20px;
  position: fixed;
  background-image: url('images/Top-pin.png');
  display: block;
  cursor: pointer;
  z-index: 99;
}

#top-pin:hover{
  -webkit-animation: pin-bounce 0.8s infinite;
  animation: pin-bounce 0.8s infinite;
}

@-webkit-keyframes pin-bounce{
  0% {bottom: -80px; animation-timing-function: ease-out;}
  50% {bottom: -10px;animation-timing-function: ease-in;}
  100% {bottom: -80px;}
}

@keyframes pin-bounce{
  0% {bottom: -80px;animation-timing-function: ease-out;}
  50% {bottom: -10px;animation-timing-function: ease-in;}
  100% {bottom: -80px;}
}
